.rainBox {
    background-image: url(../images/rain.gif);
    width: 268px;
    height: 480px;
    position: absolute;
    z-index: 1;
}

.sunBox {
    background-image: url(../images/sun.jpg);
    width: 268px;
    height: 480px;
    position: absolute;
    z-index: 2;
}

.bar {
    width: 268px;
    height: 10px;
    position: absolute;
    z-index: 3;
    background-color: blue;
    filter: blur(10px);
    top: 0px;
}

.box {
    background-color: aqua;
    width: 268px;
    height: 480px;
    margin: auto;
}

body {}